$bg_color = #424242
$font_color = #b0b0b0
$hover_color = #ff6700
$border_color = #e0e0e0
.container
  width 1226px
  margin-right auto
  margin-left auto

.container::after,.container::before
  content ''
  display table

.container::after
  clear both

.hide
  display none!important

.clearfix::after,.clearfix::before
  content ''
  display table

.clearfix::after
  clear both

.ir
  display block
  text-align left
  text-indent -9999em
  overflow hidden

a:hover
  color $hover_color

button,input,optgroup,select,textarea
  color inherit
  font inherit
  margin 0

button
  overflow visible

button,select
  text-transform none

button,html input[type=button],input[type=reset],input[type=submit]
  -webkit-appearance button
  cursor pointer

button[disabled],html input[disabled]
  cursor default

button::-moz-focus-inner,input::-moz-focus-inner
  border 0
  padding 0

input
  line-height normal

input[type=checkbox],input[type=radio]
  -webkit-box-sizing border-box
  box-sizing border-box
  padding 0

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button
  height auto

input[type=search]
  -webkit-appearance textfield
  -webkit-box-sizing content-box
  box-sizing content-box

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration
  -webkit-appearance none
  
small
  font-size 80%

.row
  margin-left -14px

.row:after,.row:before
  content ''
  display table


.row::after
  clear both

.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9,.span10,.span11,.span12,.span13,.span14,.span15,.span16,.span17,.span18,.span19,.span20
  float left
  margin-left 14px
  min-height 1px

.span1
  width 48px

.span2
  width 110px

.span3
  width 172px

.span4
  width 234px

.span5
  width 296px

.span6
  width 358px

.span7
  width 420px

.span8
  width 482px

.span9
  width 544px

.span10
  width 606px

.span11
  width 668px

.span12
  width 730px

.span13
  width 792px

.span14
  width 854px

.span15
  width 916px

.span16
  width 978px

.span17
  width 1040px

.span18
  width 1102px

.span19
  width 1164px

.span20
  width 1226px

.home-flashsale .rainbow-item-1 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-2 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-3 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-4 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-5 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-6 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-7 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-8 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-9 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-10 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-11 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-12 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-13 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-14 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-15 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-16 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-17 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-18 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-19 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-20 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-21 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-22 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-23 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-24 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-25 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-26 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-27 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-28 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-29 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-30 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-31 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-32 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-33 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-34 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-35 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-36 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-37 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-38 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-39 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-40 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-41 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-42 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-43 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-44 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-45 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-46 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-47 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-48 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-49 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-50 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-51 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-52 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-53 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-54 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-55 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-56 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-57 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-58 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-59 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-60 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-61 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-62 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-63 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-64 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-65 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-66 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-67 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-68 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-69 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-70 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-71 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-72 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-73 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-74 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-75 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-76 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-77 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-78 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-79 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-80 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-81 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-82 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-83 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-84 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-85 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-86 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-87 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-88 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-89 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-90 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-91 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-92 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-93 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-94 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-95 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-96 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-97 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-98 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-99 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-100 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-101 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-102 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-103 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-104 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-105 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-106 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-107 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-108 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-109 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-110 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-111 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-112 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-113 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-114 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-115 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-116 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-117 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-118 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-119 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-120 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-121 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-122 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-123 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-124 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-125 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-126 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-127 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-128 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-129 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-130 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-131 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-132 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-133 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-134 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-135 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-136 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-137 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-138 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-139 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-140 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-141 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-142 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-143 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-144 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-145 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-146 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-147 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-148 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-149 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-150 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-151 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-152 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-153 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-154 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-155 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-156 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-157 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-158 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-159 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-160 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-161 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-162 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-163 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-164 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-165 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-166 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-167 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-168 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-169 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-170 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-171 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-172 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-173 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-174 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-175 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-176 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-177 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-178 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-179 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-180 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-181 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-182 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-183 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-184 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-185 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-186 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-187 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-188 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-189 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-190 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-191 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-192 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-193 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-194 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-195 {
  border-top-color: #00c0a5;
}

.home-flashsale .rainbow-item-196 {
  border-top-color: #ffac13;
}

.home-flashsale .rainbow-item-197 {
  border-top-color: #83c44e;
}

.home-flashsale .rainbow-item-198 {
  border-top-color: #2196f3;
}

.home-flashsale .rainbow-item-199 {
  border-top-color: #e53935;
}

.home-flashsale .rainbow-item-200 {
  border-top-color: #00c0a5;
}