$bg_color = #424242
$font_color = #b0b0b0
$hover_color = #ff6700
$border_color = #e0e0e0
.container
  width 1226px
  margin-right auto
  margin-left auto

.container::after,.container::before
  content ''
  display table

.container::after
  clear both

.hide
  display none!important

.clearfix::after,.clearfix::before
  content ''
  display table

.clearfix::after
  clear both

.ir
  display block
  text-align left
  text-indent -9999em
  overflow hidden

a:hover
  color $hover_color

button,input,optgroup,select,textarea
  color inherit
  font inherit
  margin 0

button
  overflow visible

button,select
  text-transform none

button,html input[type=button],input[type=reset],input[type=submit]
  -webkit-appearance button
  cursor pointer

button[disabled],html input[disabled]
  cursor default

button::-moz-focus-inner,input::-moz-focus-inner
  border 0
  padding 0

input
  line-height normal

input[type=checkbox],input[type=radio]
  -webkit-box-sizing border-box
  box-sizing border-box
  padding 0

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button
  height auto

input[type=search]
  -webkit-appearance textfield
  -webkit-box-sizing content-box
  box-sizing content-box

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration
  -webkit-appearance none
  
small
  font-size 80%

.row
  margin-left -14px

.row:after,.row:before
  content ''
  display table


.row::after
  clear both

.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9,.span10,.span11,.span12,.span13,.span14,.span15,.span16,.span17,.span18,.span19,.span20
  float left
  margin-left 14px
  min-height 1px

.span1
  width 48px

.span2
  width 110px

.span3
  width 172px

.span4
  width 234px

.span5
  width 296px

.span6
  width 358px

.span7
  width 420px

.span8
  width 482px

.span9
  width 544px

.span10
  width 606px

.span11
  width 668px

.span12
  width 730px

.span13
  width 792px

.span14
  width 854px

.span15
  width 916px

.span16
  width 978px

.span17
  width 1040px

.span18
  width 1102px

.span19
  width 1164px

.span20
  width 1226px

