$bg_color = #424242
$font_color = #b0b0b0
$hover_color = #ff6700
.container
  width 1226px
  margin-right auto
  margin-left auto

.container::after,.container::before
  content ''
  display table

.container::after
  clear both

.hide
  display none!important

.clearfix::after,.clearfix::before
  content ''
  display table

.clearfix::after
  clear both

.ir
  display block
  text-align left
  text-indent -9999em
  overflow hidden

a:hover
  color $hover_color